<%- include('~header.ejs')%>
    <section class="container">
      <div class="row pt-2 pb-3">
        <div class="col">
            <form action="/" method="GET">
                <label>
                    <span class="fw-bold">Work Week: </span>
                    <input type="date" name="startRange" value ="" class="">
                    <button class="btn btn-primary btn-sm">Search Date</button>
                </label>
            </form>
        </div>
    </div>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Login Time</th>
                <th>Logout Time</th>
                <th>Hours Worked</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% records.forEach((record)=>{ %>
                <tr>
                    <td>
                        <a href="employee/<%= record.emp_id %>" class="fw-normal"><%= record.emp_id %></a>
                    </td>
                    <td>
                        <p class="fw-normal mb-1"><%= record.name %></p>
                    </td>
                    <td>
                        <p class="fw-normal"><%= new Date(record.loginTime).toLocaleString().slice(11) %></p>
                    </td>
                    <td>
                        <p class="fw-normal"><%= (record.logoutTime)?new Date(record.logoutTime).toLocaleString().slice(11) : "" %></p>
                    </td>
                    <td>
                        <p class="fw-normal"><%= (record.logoutTime) ? (
                            (new Date(record.logoutTime) - 
                            new Date(record.loginTime) ) / 3600000).toFixed(2): "" %></p>
                    </td>
                    <td>
                      <span class="badge badge-success rounded-pill d-inline"><%= record.status %></span>
                    </td>
                    <td>
                      <button type="button" data-id="<%= record.id %>" class="btn btn-link btn-sm btn-rounded" onclick="getToEditPage(event)">
                        Edit
                      </button>
                      <a href="/admin/approveHours/<%= record.id%>" type="button" class="btn btn-link btn-sm btn-rounded">
                        Approve Hours
                      </a>
                    </td>
                  </tr>
              <% })%>
              <!-- <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                        src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                        class="rounded-circle"
                        alt=""
                        style="width: 45px; height: 45px"
                        />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Alex Ray</p>
                      <p class="text-muted mb-0">alex.ray@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">Consultant</p>
                  <p class="text-muted mb-0">Finance</p>
                </td>
                <td>
                  <span class="badge badge-primary rounded-pill d-inline"
                        >Pending</span
                    >
                </td>
                <td>Junior</td>
                <td>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          data-mdb-ripple-color="dark"
                          >
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                        src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                        class="rounded-circle"
                        alt=""
                        style="width: 45px; height: 45px"
                        />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Kate Hunington</p>
                      <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">Designer</p>
                  <p class="text-muted mb-0">UI/UX</p>
                </td>
                <td>
                  <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                </td>
                <td>Senior</td>
                <td>
                  <button
                          type="button"
                          class="btn btn-link btn-rounded btn-sm fw-bold"
                          data-mdb-ripple-color="dark"
                          >
                    Edit
                  </button>
                </td>
              </tr> -->
            </tbody>
          </table>
    </section>
<%- include('~footer.ejs')%>