
    <%- include('~header.ejs') %>

    <section class="container">
        <div class="row my-3 mt-4">
            <div class="col-10">
                <h2>View Departments</h2>
            </div>
            <div class="col-2">
                <a href="/admin/departments/add" class="btn-primary btn btn-sm">Add Departments</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th>Department Name</th>
                        <th>Base Rate</th>
                        <th>Overtime Rate</th>
                        <th>Actions</th>
                        
                        
                    </tr>
                    </thead>
                    <tbody>
                        <% departments.forEach((department)=>{%>
                    <tr>

                        <td>
                            <p class="fw-normal"><%= department.department %></p>
                        </td>
                        <td>
                        <p class="fw-normal">$<%= department.base_rate %></p>

                        </td>
                        <td><%= department.overtime_rate %> %</td>
                        <td>
                            <a href="/admin/departments/<%= department.id%>">More Detail</a>
                        </td>
                                
                    </tr>
                    <% }) %>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </section>


<%- include('~footer.ejs') %>
