
    <%- include('~header.ejs') %>

    <section class="container">

        <div class="row">
            <div class="col emp-info">
                
                <div class="d-flex justify-content-between">
                    <h2><%= user.fname + ' ' + user.lname %></h2>
                    <% if (!clockStarted) { %>
                    <button type="button" onclick="startClock()" class="btn btn-primary  btn-sm start">Start Clock</button>
                    <% }else { %>

                    <button type="button" onclick="stopClock()" class="btn btn-danger btn-sm stop">Stop Clock</button>
                    <% } %>

                </div>
                <p><span class="fw-bold">Email</span>: <%= user.email %></p>
                <p><span class="fw-bold">ID</span>: <%= user.emp_id %></p>
            </div>
        </div>
        <div class="row pt-2 pb-3">
            <div class="col">
                <form action="/" method="GET">
                    <label>
                        <span class="fw-bold">Work Week: </span>
                        <input type="date" name="startRange" value ="<%= startDate %>" class="">
                        <button class="btn btn-primary btn-sm">Search Date</button>
                    </label>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Days Worked this week</h2>
        <!-- <table>
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Login Time</th>
                    <th>logout Time</th>
                    <th>Hours Worked</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Employee name</td>
                    <td><%= new Date('05 June 2022 08:00:00').toLocaleString().slice(11) %></td>
                    <td><%= new Date('05 June 2022 19:00:00').toLocaleString().slice(11) %></td>
                    <td><%= (( new Date('05 June 2022 19:14:00') - new Date('05 June 2022 08:00:00')) / 3600000).toFixed(2)  %></td>
                </tr>
            </tbody>
        </table> -->
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>WeekDay</th>
                <th>Login Time</th>
                <th>Logout Time</th>
                <th>Hours Worked</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                <% timecard.forEach((log)=>{%>
              <tr>
                <td>
                    <p class="fw-normal"><%= new Date(log.loginTime).toLocaleString().slice(0,10) %></p>
                </td>
                <td>
                    <p class="fw-normal"><%= new Date(log.loginTime).toLocaleString().slice(11) %></p>
                </td>
                <td>
                  <p class="fw-normal"><%= (log.logoutTime)?new Date(log.logoutTime).toLocaleString().slice(11) : "" %></p>

                </td>
                <td><%= (log.logoutTime) ? (
                    (new Date(log.logoutTime) - 
                    new Date(log.loginTime) ) / 3600000).toFixed(2): "" %></td>
                <td>
                    <span class="badge <%= (log.status == 'Pending') ? ' badge-warning ' : (log.status == 'Approved') ? ' badge-success ' : ' badge-danger ' %>rounded-pill d-inline"><%= log.status %></span>
                        

                        
                </td>
                        
                  
                <!-- <td>
                  <button type="button" class="btn btn-link btn-sm btn-rounded">
                    Edit
                  </button>
                </td> -->
              </tr>
              <% }) %>
            
            </tbody>
          </table>
            </div>
        </div>
    </section>


    <!-- <script>
        localStorage.setItem("clockStarted", "false");

        let startBtn = document.querySelector(".start");
        let stopBtn = document.querySelector(".stop");
        if(localStorage.getItem("clockStarted" == "false")){
            stopBtn.style.display =  "none";
        }else(
            startBtn.style.display = "none"
        )
    </script> -->


<%- include('~footer.ejs') %>
