
    <%- include('~header.ejs') %>

    <section class="container">
        <div class="row my-3">
            <div class="col-10">
                <h2>View Employees</h2>
            </div>
            <div class="col-2">
                <a href="/admin/employees/add" class="btn-primary btn btn-sm">Add Employee</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Actions</th>
                        
                        
                    </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach((employee)=>{%>
                    <tr>
                        <td>
                            <p class="fw-normal"><%= employee.emp_id%></p>
                        </td>
                        <td>
                            <p class="fw-normal"><%= employee.fname.concat(' ', employee.lname) %></p>
                        </td>
                        <td>
                        <p class="fw-normal"><%= employee.email %></p>

                        </td>
                        <td><%= employee.department %></td>
                        <td>
                            <a href="/employees/detail/<%= employee.emp_id%>">More Detail</a>
                        </td>
                                
                    </tr>
                    <% }) %>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </section>


<%- include('~footer.ejs') %>
